.modalWindowOverlay {
    z-index: 10;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    position: fixed;
    top: 0;
    left: 0;
}

.modalWindow {
    z-index: 11;

    width: 55vmin;
    background-color: white;

    border-radius: 2vmin;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: space-between;

    padding: 4vmin 6.5vmin;
}