.App {
    width: 100vw;
    height: 100vh;

    outline: none;
}

input[type=range].speedRange {
    position: relative;
    width: 80vw;
    left: 10vw;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range].speedRange:focus {
    outline: none;
}
input[type=range].speedRange::-webkit-slider-runnable-track {
    margin-top: calc(calc(5 * min(1vh, 1vw)) / 2.4);
    background: #cccccc;
    border-radius: calc(0.35 * min(1vh, 1vw));
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
}
input[type=range].speedRange::-webkit-slider-thumb {
    margin-top: calc(-1 * calc(calc(8 * min(1vh, 1vw)) - calc(1.5vh)) / 2);
    width: calc(8 * min(1vh, 1vw));
    height: calc(8 * min(1vh, 1vw));
    background: #41454d;
    border-radius: calc(0.5 * min(1vh, 1vw));
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range].speedRange:focus::-webkit-slider-runnable-track {
    background: #d9d9d9;
}
input[type=range].speedRange::-moz-range-track {
    background: #cccccc;
    border-radius: calc(0.35 * min(1vh, 1vw));
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
}
input[type=range].speedRange::-moz-range-thumb {
    width: calc(8 * min(1vh, 1vw));
    height: calc(8 * min(1vh, 1vw));
    background: #41454d;
    border-radius: calc(0.5 * min(1vh, 1vw));
    cursor: pointer;
}
input[type=range].speedRange::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: calc(calc(-5 * min(1vh, 1vw)) / 2.5) 0;
    color: transparent;
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
}
input[type=range].speedRange::-ms-fill-lower {
    background: #bfbfbf;
    border: 0px solid #cccccc;
    border-radius: calc(0.35 * min(1vh, 1vw));
}
input[type=range].speedRange::-ms-fill-upper {
    background: #cccccc;
    border: 0px solid #cccccc;
    border-radius: calc(0.35 * min(1vh, 1vw));
}
input[type=range].speedRange::-ms-thumb {
    width: calc(8 * min(1vh, 1vw));
    height: calc(8 * min(1vh, 1vw));
    background: #41454d;
    border: 0;
    border-radius: calc(0.5 * min(1vh, 1vw));
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range].speedRange:focus::-ms-fill-lower {
    background: #cccccc;
}
input[type=range].speedRange:focus::-ms-fill-upper {
    background: #d9d9d9;
}