.AvailableControls {

}

.AvailableControls tr td {
    border: 1px solid black;
    width: 10vh;
    height: 10vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.AvailableControls tr td.up {
    background-image: url('./images/up.svg');
}

.AvailableControls tr td.left {
    background-image: url('./images/left.svg');
}

.AvailableControls tr td.right {
    background-image: url('./images/right.svg');
}

.AvailableControls tr td.green {
    background-color: green;
}

.AvailableControls tr td.blue {
    background-color: blue;
}

.AvailableControls tr td.red {
    background-color: red;
}