table.ColorLayer tbody tr td {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

table.ColorLayer tbody tr td.r {
    background-image: url('./images/red.svg');
}

table.ColorLayer tbody tr td.g {
    background-image: url('./images/green.svg');
}

table.ColorLayer tbody tr td.b {
    background-image: url('./images/blue.svg');
}