.Game {
    width: 100vw;
    height: 100vh;

    outline: none;
}

.pauseButton {
    width: 12vw;
    height: 6vw;
    border: 0;
    background-color: #3E3E3E;

    font-family: 'Hind Siliguri', sans-serif;
    font-size: 3vw;
    color: white;

    outline: none;
}

.pauseMenu {
    width: 60vw;
    height: 60vh;
    border: 0;
    border-radius: 2vw;
    background-color: #3E3E3E;

    position: absolute;
    left: 20vw;
    top: 20vh;
}

.pauseMenuOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.pauseMenu:not(.hidden) {
    z-index: 11;
}

.pauseMenu.hidden {
    z-index: -11;
}

.pauseMenuOverlay:not(.hidden) {
    z-index: 10;
}

.pauseMenuOverlay.hidden {
    z-index: -10;
}

.pauseMenu:not(.hidden),
.pauseMenuOverlay:not(.hidden) {
    opacity: 100%;
}

.pauseMenu.hidden,
.pauseMenuOverlay.hidden {
    opacity: 0%;
}

input[type=range].speedRange {
    position: relative;
    width: 80vw;
    left: 10vw;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range].speedRange:focus {
    outline: none;
}
input[type=range].speedRange::-webkit-slider-runnable-track {
    margin-top: calc(calc(calc(8 * 1vh) - calc(1.5vh)) / 2);
    background: #cccccc;
    border-radius: calc(0.35 * 1vh);
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
}
input[type=range].speedRange::-webkit-slider-thumb {
    margin-top: calc(-1 * calc(calc(8 * 1vh) - calc(1.5vh)) / 2);
    width: calc(8 * 1vh);
    height: calc(8 * 1vh);
    background: #41454d;
    border-radius: calc(0.5 * 1vh);
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range].speedRange:focus::-webkit-slider-runnable-track {
    background: #d9d9d9;
}
input[type=range].speedRange::-moz-range-track {
    background: #cccccc;
    border-radius: calc(0.35 * 1vh);
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
}
input[type=range].speedRange::-moz-range-thumb {
    width: calc(8 * 1vh);
    height: calc(8 * 1vh);
    background: #41454d;
    border-radius: calc(0.5 * 1vh);
    cursor: pointer;
}
input[type=range].speedRange::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: calc(calc(-5 * 1vh) / 2.5) 0;
    color: transparent;
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
}
input[type=range].speedRange::-ms-fill-lower {
    background: #bfbfbf;
    border: 0px solid #cccccc;
    border-radius: calc(0.35 * 1vh);
}
input[type=range].speedRange::-ms-fill-upper {
    background: #cccccc;
    border: 0px solid #cccccc;
    border-radius: calc(0.35 * 1vh);
}
input[type=range].speedRange::-ms-thumb {
    width: calc(8 * 1vh);
    height: calc(8 * 1vh);
    background: #41454d;
    border: 0;
    border-radius: calc(0.5 * 1vh);
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range].speedRange:focus::-ms-fill-lower {
    background: #cccccc;
}
input[type=range].speedRange:focus::-ms-fill-upper {
    background: #d9d9d9;
}