.mainMenu .buttonsGroup {
    padding: 5vmin 5vmin;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsGroup button {
    width: 28vmin;
    height: 12.5vmin;

    border: 0;
    border-radius: 2vmin;

    font-family: 'Hind Siliguri', sans-serif;
    font-size: 6vmin;
    color: white;

    outline: none;
}

.playButton {
    background-color: #FFC006;
}

.buttonsGroup button:not(.playButton) {
    background-color: #3E3E3E;
}

.playButton .lastLevelNumber {
    display: inline-block;
    width: 9vmin;
    border-radius: 1vmin;
}

.appLogo {
    height: 18.3vmin;

    background-image: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-align: center;
}

@font-face {
    font-family: Noah;
    src: url('./fonts/Noah-Bold.woff2') format('woff2');
}

.logoText {
    font-family: Noah;
    font-size: 12vmin;
    color: #3E3E3E;
    
    position: relative;
    top: 10%;
}

.appLogo,
.lowerButtons {
}